@import url("https://use.typekit.net/ezk4nwx.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #49E340;
  background: #07433f;
}

h1, h2, h3, h4, p, a  {
  font-family: roc-grotesk, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-weight: normal;
}

h1 {
  text-transform: uppercase;
  font-size: 6em;

  display: flex;
  justify-content: center;
}

h2 {
  text-transform: uppercase;
  font-size: 3em;
}

h3 {
  text-transform: uppercase;
  font-size: 2em;
  padding: 1% 0;
  color: white;
}

p {
  font-size: 18px;
  padding-bottom: 2%;
  color: white;
  line-height: 1.7;
}

.parent {
  width: 100%;
}

.top {
  padding-top: 2%;
  padding-bottom: 7%;
}

.centered {
  display: flex;
  justify-content: center;
  padding: 0;
}

.main_description {
  display: grid;
  grid-template-columns: repeat(8,1FR);
  grid-column-gap: 40px;
}

.main_description p {
  text-align: center;

  grid-column: 3/7;
  padding: 10% 0;
}

.main {
  padding-left: 10%;
  padding-right: 30%;
}

img {
  width: 100%;
  display: flex;
  flex-flow: row wrap;

}

.link_inline {
  display: block;
  color: white;
}

a:link, a:visited {
  color: #49E340;
  text-decoration: none;

}

a:hover{
  text-decoration: none;
  color: white;
}

.main_items {
  padding-bottom: 10%;
  display: flex;
  flex-flow: column;
}

.button {
  padding: 5%;
  margin: 10% 0;
  border: solid 1px #49E340;
  font-family: roc-grotesk, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-weight: normal;
  transition: all 0.3s;

  display: inline-block;
}

.button:hover {
  background: #49E340;
  color: #07433f;
}


/* ===========FOOTER============= */

.square_container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5%;

}

.content {
  height: 200px;
  width: 200px;
  border: 1px solid #49E340;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.content:hover {
  background: #49E340;
  color: #07433f;
}

.wireframe {
  width: 500px;
  padding-bottom: 50px;
}
